In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vageesh\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio~=0.17 in c:\users\vageesh\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vageesh\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\vageesh\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\vageesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\vageesh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\vageesh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\vageesh\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\vageesh\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\vageesh\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vageesh\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\vageesh\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vageesh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome(r"C:\chromedriver_win32 (1)\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
search_field_designation=driver.find_element_by_class_name('suggestor-input')
search_field_designation.send_keys('Data Analyst')

In [6]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [7]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [8]:
job_titles=[]
company_name=[]
location=[]
salary=[]
experience=[]

In [9]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles = job_titles[:10]
job_titles

['Business & Data Analyst - Alteryx (London)',
 'Data analyst / Data scientist, AVP',
 'Data analyst / Data scientist, Associate',
 'Senior Mis Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Analyst / Business Analyst',
 'Genpact Hiring For Data Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Data Analyst',
 'Senior Data Analyst']

In [10]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name = company_name[:10]
company_name

['Imaginative Brains LLP',
 'Deutsche Bank',
 'Deutsche Bank',
 'Barbeque Nation',
 'Sejal Consulting Hub',
 'METRO Cash & Carry',
 'Genpact',
 'Leading US MNC into Analytics',
 'PharmEasy',
 'Qualitest India Private Limited']

In [11]:
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    title=i.text
    location.append(title)
location = location[:10]
location

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sarjapur)',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
sal_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
for i in sal_tags:
    title=i.text
    salary.append(title)
salary = salary[:10]
salary

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '7,00,000 - 9,00,000 PA.',
 '4,00,000 - 7,00,000 PA.',
 '15,00,000 - 27,50,000 PA.',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed']

In [13]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp_tags:
    title=i.text
    experience.append(title)
experience = experience[:10]
experience

['5-10 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '5-8 Yrs']

In [14]:
jobs=pd.DataFrame({'Job_Description':job_titles,'Company':company_name,'Location':location,'Salary':salary,'Experience':experience})
jobs

,Job_Description,Company,Location,Salary,Experience
0,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Not disclosed,5-10 Yrs
1,"Data analyst / Data scientist, AVP",Deutsche Bank,Bangalore/Bengaluru,Not disclosed,6-11 Yrs
2,"Data analyst / Data scientist, Associate",Deutsche Bank,Bangalore/Bengaluru,Not disclosed,5-8 Yrs
3,Senior Mis Data Analyst,Barbeque Nation,Bangalore/Bengaluru(Sarjapur),"7,00,000 - 9,00,000 PA.",5-8 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,Remote,"4,00,000 - 7,00,000 PA.",0-3 Yrs
5,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,"15,00,000 - 27,50,000 PA.",3-8 Yrs
6,Genpact Hiring For Data Analyst,Genpact,Bangalore/Bengaluru,Not disclosed,2-6 Yrs
7,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...","10,00,000 - 20,00,000 PA.",2-7 Yrs
8,Data Analyst,PharmEasy,Bangalore/Bengaluru,Not disclosed,1-3 Yrs
9,Senior Data Analyst,Qualitest India Private Limited,Bangalore/Bengaluru,Not disclosed,5-8 Yrs