In [1]:
# Python program to display IMDB’s Top rated 100 movies data

# install library (bs4) and request
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\vageesh\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\vageesh\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\vageesh\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\vageesh\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\vageesh\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vageesh\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vageesh\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vageesh\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [2]:
# import BeautifulSoup
from bs4 import BeautifulSoup
import requests

# request page 1 of IMDb top 100 movies for data
page1 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
page1

In [3]:
# request page 2 of IMDb top 100 movies for data
page2 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
page2

In [4]:
# extract data from page 1 of IMDb top 100 movies
src_1 = BeautifulSoup(page1.content)

In [5]:
# extract data from page 2 of IMDb top 100 movies
src_2 = BeautifulSoup(page2.content)

In [6]:
# scrape data for movie titles and ranking
top_1 = []
for i in src_1.find_all("h3",class_="lister-item-header"):
    top_1.append(i.text.replace('\n',''))
for i in src_2.find_all("h3",class_="lister-item-header"): # scrape data for movie titles in page 2 and append in top_1 list
    top_1.append(i.text.replace('\n','')) 

# scrape data for movie IMDb ratings
rating_1 = []
for i in src_1.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating_1.append(i.text.replace('\n',''))
for i in src_2.find_all('div',class_="inline-block ratings-imdb-rating"): # scrape data for movie IMDb ratings in page 2 and append in top_1 list
    rating_1.append(i.text.replace('\n',''))

# displaying the data scraped from IMDb site for top 100 movies
for val in range(0,len(top_1)):
    print(top_1[val],'  { IMDb Rating:',rating_1[val],'}')

1.The Shawshank Redemption(1994)   { IMDb Rating: 9.3 }
2.The Godfather(1972)   { IMDb Rating: 9.2 }
3.The Dark Knight(2008)   { IMDb Rating: 9.0 }
4.The Lord of the Rings: The Return of the King(2003)   { IMDb Rating: 9.0 }
5.Schindler's List(1993)   { IMDb Rating: 9.0 }
6.The Godfather: Part II(1974)   { IMDb Rating: 9.0 }
7.12 Angry Men(1957)   { IMDb Rating: 9.0 }
8.Pulp Fiction(1994)   { IMDb Rating: 8.9 }
9.Inception(2010)   { IMDb Rating: 8.8 }
10.The Lord of the Rings: The Two Towers(2002)   { IMDb Rating: 8.8 }
11.Fight Club(1999)   { IMDb Rating: 8.8 }
12.The Lord of the Rings: The Fellowship of the Ring(2001)   { IMDb Rating: 8.8 }
13.Forrest Gump(1994)   { IMDb Rating: 8.8 }
14.Il buono, il brutto, il cattivo(1966)   { IMDb Rating: 8.8 }
15.Top Gun: Maverick(2022)   { IMDb Rating: 8.7 }
16.The Matrix(1999)   { IMDb Rating: 8.7 }
17.Goodfellas(1990)   { IMDb Rating: 8.7 }
18.The Empire Strikes Back(1980)   { IMDb Rating: 8.7 }
19.One Flew Over the Cuckoo's Nest(1975)   { IMDb Rating: 8.7 }
20.Interstellar(2014)   { IMDb Rating: 8.6 }
21.Cidade de Deus(2002)   { IMDb Rating: 8.6 }
22.Sen to Chihiro no kamikakushi(2001)   { IMDb Rating: 8.6 }
23.Saving Private Ryan(1998)   { IMDb Rating: 8.6 }
24.The Green Mile(1999)   { IMDb Rating: 8.6 }
25.La vita è bella(1997)   { IMDb Rating: 8.6 }
26.Se7en(1995)   { IMDb Rating: 8.6 }
27.Terminator 2: Judgment Day(1991)   { IMDb Rating: 8.6 }
28.The Silence of the Lambs(1991)   { IMDb Rating: 8.6 }
29.Star Wars(1977)   { IMDb Rating: 8.6 }
30.Seppuku(1962)   { IMDb Rating: 8.6 }
31.Shichinin no samurai(1954)   { IMDb Rating: 8.6 }
32.It's a Wonderful Life(1946)   { IMDb Rating: 8.6 }
33.Gisaengchung(2019)   { IMDb Rating: 8.5 }
34.Whiplash(2014)   { IMDb Rating: 8.5 }
35.The Intouchables(2011)   { IMDb Rating: 8.5 }
36.The Prestige(2006)   { IMDb Rating: 8.5 }
37.The Departed(2006)   { IMDb Rating: 8.5 }
38.The Pianist(2002)   { IMDb Rating: 8.5 }
39.Gladiator(2000)   { IMDb Rating: 8.5 }
40.American History X(1998)   { IMDb Rating: 8.5 }
41.The Usual Suspects(1995)   { IMDb Rating: 8.5 }
42.Léon(1994)   { IMDb Rating: 8.5 }
43.The Lion King(1994)   { IMDb Rating: 8.5 }
44.Nuovo Cinema Paradiso(1988)   { IMDb Rating: 8.5 }
45.Hotaru no haka(1988)   { IMDb Rating: 8.5 }
46.Back to the Future(1985)   { IMDb Rating: 8.5 }
47.Apocalypse Now(1979)   { IMDb Rating: 8.5 }
48.Alien(1979)   { IMDb Rating: 8.5 }
49.Once Upon a Time in the West(1968)   { IMDb Rating: 8.5 }
50.Psycho(1960)   { IMDb Rating: 8.5 }
51.Rear Window(1954)   { IMDb Rating: 8.5 }
52.Casablanca(1942)   { IMDb Rating: 8.5 }
53.Modern Times(1936)   { IMDb Rating: 8.5 }
54.City Lights(1931)   { IMDb Rating: 8.5 }
55.Capharnaüm(2018)   { IMDb Rating: 8.4 }
56.Joker(I) (2019)   { IMDb Rating: 8.4 }
57.Everything Everywhere All at Once(2022)   { IMDb Rating: 8.4 }
58.Kimi no na wa.(2016)   { IMDb Rating: 8.4 }
59.Spider-Man: Into the Spider-Verse(2018)   { IMDb Rating: 8.4 }
60.Avengers: Endgame(2019)   { IMDb Rating: 8.4 }
61.Avengers: Infinity War(2018)   { IMDb Rating: 8.4 }
62.Coco(I) (2017)   { IMDb Rating: 8.4 }
63.Django Unchained(2012)   { IMDb Rating: 8.4 }
64.The Dark Knight Rises(2012)   { IMDb Rating: 8.4 }
65.3 Idiots(2009)   { IMDb Rating: 8.4 }
66.WALL·E(2008)   { IMDb Rating: 8.4 }
67.The Lives of Others(2006)   { IMDb Rating: 8.4 }
68.Oldeuboi(2003)   { IMDb Rating: 8.4 }
69.Memento(2000)   { IMDb Rating: 8.4 }
70.American Beauty(1999)   { IMDb Rating: 8.4 }
71.Mononoke-hime(1997)   { IMDb Rating: 8.4 }
72.Braveheart(1995)   { IMDb Rating: 8.4 }
73.Aliens(1986)   { IMDb Rating: 8.4 }
74.Amadeus(1984)   { IMDb Rating: 8.4 }
75.Raiders of the Lost Ark(1981)   { IMDb Rating: 8.4 }
76.Das Boot(1981)   { IMDb Rating: 8.4 }
77.The Shining(1980)   { IMDb Rating: 8.4 }
78.Tengoku to jigoku(1963)   { IMDb Rating: 8.4 }
79.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)   { IMDb Rating: 8.4 }
80.Witness for the Prosecution(1957)   { IMDb Rating: 8.4 }
81.Paths of Glory(1957)   { IMDb Rating: 8.4 }
82.Sunset Blvd.(1950)   { IMDb Rating: 8.4 }
83.The Great Dictator(1940)   { IMDb Rating: 8.4 }
84.Jagten(2012)   { IMDb Rating: 8.3 }
85.Toy Story 3(2010)   { IMDb Rating: 8.3 }
86.Inglourious Basterds(2009)   { IMDb Rating: 8.3 }
87.Eternal Sunshine of the Spotless Mind(2004)   { IMDb Rating: 8.3 }
88.Requiem for a Dream(2000)   { IMDb Rating: 8.3 }
89.Good Will Hunting(1997)   { IMDb Rating: 8.3 }
90.Toy Story(1995)   { IMDb Rating: 8.3 }
91.Reservoir Dogs(1992)   { IMDb Rating: 8.3 }
92.Once Upon a Time in America(1984)   { IMDb Rating: 8.3 }
93.Star Wars: Episode VI - Return of the Jedi(1983)   { IMDb Rating: 8.3 }
94.2001: A Space Odyssey(1968)   { IMDb Rating: 8.3 }
95.Lawrence of Arabia(1962)   { IMDb Rating: 8.3 }
96.North by Northwest(1959)   { IMDb Rating: 8.3 }
97.Vertigo(1958)   { IMDb Rating: 8.3 }
98.Singin' in the Rain(1952)   { IMDb Rating: 8.3 }
99.Citizen Kane(1941)   { IMDb Rating: 8.3 }
100.M - Eine Stadt sucht einen Mörder(1931)   { IMDb Rating: 8.3 }

In [7]:
# making a dataframe for storing IMDb top 100 movies data
import pandas as pd

db_top100 = pd.DataFrame({'Rank and Movie Title':top_1,'IMDb Rating':rating_1})
db_top100.index +=1
db_top100

                                  Rank and Movie Title IMDb Rating
1                     1.The Shawshank Redemption(1994)         9.3
2                                2.The Godfather(1972)         9.2
3                              3.The Dark Knight(2008)         9.0
4    4.The Lord of the Rings: The Return of the Kin...         9.0
5                             5.Schindler's List(1993)         9.0
..                                                 ...         ...
96                         96.North by Northwest(1959)         8.3
97                                    97.Vertigo(1958)         8.3
98                        98.Singin' in the Rain(1952)         8.3
99                               99.Citizen Kane(1941)         8.3
100        100.M - Eine Stadt sucht einen Mörder(1931)         8.3

[100 rows x 2 columns]